<div class="about_component">
    
    <md-content class="slider">
        
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <h1>
                Zona Azul com Apcap é assim: Estacionou, ganhou!
            </h1>
            <p>
                A cada 10 reais em estacionamentos, você recebe um cupon eletrônico
                para participar das promoções. Este valor é acumulativo, ou seja:
                estacionou 5 reais hoje, 5 reais amanhã, ganhou um cupon da mesma maneira.
            </p>

            <p>
                Estacione em apenas 2 cliques. Receba noticias da zona azul. Seja notificado 
                quando seu tempo de estacionamento estiver expirando. Renove em apenas 1 clique.
                Afinal, com o Apcap é sempre mais fácil. 
            </p>
        </section>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <h1>
                Facilidade: Pague com o cartão Apcap
            </h1>

            <p>
                Tá sem cartão de crédito/débito? Não tem problema!
                O cartão Apcap é comercializado por toda a cidade. Você o valida
                dentro dos aplicativos Apcap e possui 10 reais para utilizar um dos
                produtos. Rapidinho!
            </p>
            <md-button class="md-raised md-primary" ui-sref="signin">
                Não sou cadastrado
            </md-button>
            <md-button class="md-raised md-primary">Sou cadastrado</md-button>

        </section>
    </md-content>
</div>