.about_component {
    text-align: center;

    .slider {
        color: white;
        background-color: #F48024;
        font-size: 12px;
    }

    .md-button {
        border-radius: 5px;
    }
}