<div class="promotions-cmp">
    <h2>Azul vai dar Skol de graça em seus voos até o Carnaval</h2>
    <p>Até 18 de fevereiro, em pleno Carnaval 2018, a Azul vai dar cerveja Skol de graça aos seus passageiros.</p>
    <p>O “Esquenta Verão” da marca vai oferecer, também, snacks de cortesia aos clientes. Advogados de marca: Veja como empresas
        como a Azul conquistam os seus com branding Patrocinado </p>
    <p>O happy hour em pleno voo terá algumas condições: somente entre quarta e sexta-feira, em voos com decolagens entre 17h
        e 21h e em voos com mais de uma hora de duração.</p>
    <p>Além disso, valem estas cidades de origem ou destino para encontrar a Skol na faixa: São Paulo, Belo Horizonte, Campinas,
        Curitiba, Fortaleza, Recife, Rio de Janeiro (Santos Dumont), Salvador, Porto Alegre e Vitória.</p>
</div>