<div class="sheader-cmp">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="assets/img/header/slide/slide_1.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <span> Noivos e convidados: viajem com a gente</span>
                    </h5>
                    <h4>
                        <span>economizando muito mais!</span>
                    </h4>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/header/slide/slide_2.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <span> Noivos e convidados: viajem com a gente</span>
                    </h5>
                    <h4>
                        <span>economizando muito mais!</span>
                    </h4>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/header/slide/slide_3.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <span> Noivos e convidados: viajem com a gente</span>
                    </h5>
                    <h4>
                        <span>economizando muito mais!</span>
                    </h4>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/header/slide/slide_4.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <span> Noivos e convidados: viajem com a gente</span>
                    </h5>
                    <h4>
                        <span>economizando muito mais!</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>