<div class="footer-cmp container-fluid">
    <div class="row">
        <div class="col-sm-3 offset-sm-1">
            <img src="assets/img/footer/footer_logo.png">
            <p>
                <br>
                VOE LEGAL
                <br> (031) 3546-0810
                <br> Rua Juruá, Nº 46,
                <br> CEP: 31140-020 - Belo Horizonte
                <br> CNPJ: 20.966.716/0001-55
                <br> Cadastur: 11.066389.10.0001-0
                <br>
            </p>
            <p>
                Horários de atendimento:
                <br> Segunda a Sexta: 09h às 18h
                <br> Sábado: 09h às 13h
                <br>
            </p>

            <p>
                Horários de emissão:
                <br> Segunda a Sexta: 09h às 02h
                <br> Sábado: 09h às 22h
                <br> Domingos e feriados: 10h às 18h
                <br>
            </p>
            <div class="payment-card">
                <p>FORMAS DE PAGAMENTO</p>
                <img src="assets/img/footer/footer_payment_methods.png">
            </div>
        </div>
        <div class="col-sm-3 contact">
            <h3>Ficou com alguma dúvida?</h3>
            <button class="btn btn-outline-light btn-block">Entre em contato</button>
            <p class="social-title">Siga o Voe Legal nas redes sociais!</p>
            <div class="social-stripe">
                <div class="social-btn">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-4 offset-sm-1 ad-img">
            <img src="assets/img/footer/footer_social_ad.png">
        </div>
    </div>
</div>