<section class="news-preview-cmp">
    <div class="media">
        <div class="media-body">
            <img class="mr-3 media-body" src="../../../assets/img/news/news-preview-rect.png">
            <div>
                <h5 class="mt-0">Título da notícia</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique nisl eu eros consectetur, vel pellentesque felis sodales. Donec ut eleifend libero.
                </p>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-body">
            <img class="mr-3 media-body" src="../../../assets/img/news/news-preview-rect.png">
            <div>
                <h5 class="mt-0">Título da notícia</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique nisl eu eros consectetur, vel pellentesque felis sodales. Donec ut eleifend libero.
                </p>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-body">
            <img class="mr-3 media-body" src="../../../assets/img/news/news-preview-rect.png">
            <div>
                <h5 class="mt-0">Título da notícia</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique nisl eu eros consectetur, vel pellentesque felis sodales. Donec ut eleifend libero.
                </p>
            </div>
        </div>
    </div>
</section>