<section class="news-preview-cmp">
    <div class="media">
        <img class="mr-3" src="../../../assets/img/news/news-preview-rect.png">
        <div class="media-body">
            <h5 class="mt-0">Título da notícia</h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique nisl eu eros consectetur, vel pellentesque felis sodales. Donec ut eleifend libero.
        </div>
    </div>

    <div class="media">
        <img class="mr-3" src="../../../assets/img/news/news-preview-rect.png">
        <div class="media-body">
            <h5 class="mt-0">Título da notícia</h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique nisl eu eros consectetur, vel pellentesque felis sodales. Donec ut eleifend libero.
        </div>
    </div>

    <div class="media">
        <img class="mr-3" src="../../../assets/img/news/news-preview-rect.png">
        <div class="media-body">
            <h5 class="mt-0">Título da notícia</h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique nisl eu eros consectetur, vel pellentesque felis sodales. Donec ut eleifend libero.
        </div>
    </div>
</section>