<div class="offers-cmp">
    <div class="stamp">
        <img src="assets/img/offers/offers_stamp.png">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="assets/img/offers/offers_1_3_4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">RECIFE</h5>
                        <h6 class="card-subtitle">Saindo de Belo Horizonte</h6>
                        <p class="price">
                            <strong>R$450,00</strong>
                            <br> R$ 340,00 em até 3x s/ juros
                        </p>
                        <a class="btn btn-block">CONFIRA NOSSA OFERTA</a>
                    </div>
                </div>
            </div>
            <div class="col col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="assets/img/offers/offers_1_3_4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">RECIFE</h5>
                        <h6 class="card-subtitle">Saindo de Belo Horizonte</h6>
                        <p class="price">
                            <strong>R$450,00</strong>
                            <br> R$ 340,00 em até 3x s/ juros
                        </p>
                        <a class="btn btn-block">CONFIRA NOSSA OFERTA</a>
                    </div>
                </div>
            </div>
            <div class="col col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="assets/img/offers/offers_1_3_4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">RECIFE</h5>
                        <h6 class="card-subtitle">Saindo de Belo Horizonte</h6>
                        <p class="price">
                            <strong>R$450,00</strong>
                            <br> R$ 340,00 em até 3x s/ juros
                        </p>
                        <a class="btn btn-block">CONFIRA NOSSA OFERTA</a>
                    </div>
                </div>
            </div>
            <div class="col col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="assets/img/offers/offers_1_3_4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">RECIFE</h5>
                        <h6 class="card-subtitle">Saindo de Belo Horizonte</h6>
                        <p class="price">
                            <strong>R$450,00</strong>
                            <br> R$ 340,00 em até 3x s/ juros
                        </p>
                        <a class="btn btn-block">CONFIRA NOSSA OFERTA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>