.blank-header-cmp{
    height: 100px;
    background-color: white;
    position: relative;

    navdarkcomponent{
        position: absolute;
        overflow-y: scroll;
        z-index: 3;
        margin-left: 20%;
        margin-top: 1%;
    }
    
    @media all and (max-width: 1200px) {
        navdarkcomponent {
            margin-left: 10%;
        } 
    }
    
    @media all and (max-width: 480px) {
        navdarkcomponent {
            margin-left: 10%;
            position: initial;
            overflow-y: unset;  
        } 
    }
    
    @media all and (min-width: 1920px) {
        navdarkcomponent {
            margin-left: 30%; 
        } 
    }
}