<section class="signin-form-cmp">
    <chatcomponent></chatcomponent>    
    <h2>Bem-vindo ao Voe Legal</h2>
    <form>
        <div class="form-group">
            <label for="convenio">Escolha seu convênio</label>
            <select class="form-control" id="convenio" width="100">
                <option>CAA - MARANHÃO</option>
                <option>CAA - MATO GROSSO DO SUL</option>
                <option>CAA - PARANÁ</option>
                <option>CAA - PARAÍBA</option>
                <option>CAA - PIAUÍ</option>
                <option>CAA - RIO DE JANEIRO</option>
                <option>CAA - RIO GRANDE DO NORTE</option>
                <option>CAA - RONDÔNIA</option>
                <option>CAA - RORAIMA</option>
                <option>CAA - SANTA CATARINA</option>
                <option>CAA - TOCANTINS</option>
                <option>OAB - ESPÍRITO SANTO</option>
            </select>
        </div>
        <div class="form-group">
            <label for="oab">Número OAB:</label>
            <input type="text" class="form-control" width="100" id="oab">
        </div>
        <div class="form-group">
            <label for="nome">Nome Completo:</label>
            <input type="text" class="form-control" id="nome">
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="c-email">Confirme seu e-mail</label>
            <input type="email" class="form-control" id="c-email">
        </div>
        <div class="form-group">
            <label for="tel">Telefone</label>
            <input type="phone" class="form-control" id="tel">
        </div>
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" class="form-control" id="cpf">
        </div>

        <button type="submit">Cadastrar</button>
    </form>
</section>