<div class="nav-cmp">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <img src="../../../assets/img/header/header_logo.png">
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Notícias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Termos de Uso</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Política de Privacidade</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Políticas de Reembolso</a>
        </li>
        <li class="nav-item">
            <button type="submit" class="btn">FAZER LOGIN</button>
        </li>
    </ul>
</div>