.nav-cmp{
    font-size: 14px;
    font-weight: 300;
    background-color: transparent;
    
    a {
        color: white!important;
        margin-top: 5px;
    }

    button{
        margin-top: 5px;
        background-color: #232D46;
        color: white;
        border-radius: 3px;

    }

    @media all and (max-width: 480px) {
        background-color: #232D46 !important;
        padding: 5%;
        margin: 0%;
    }    
}