<div class="mailme-cmp">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-4 offset-2 info">
                <div class="row">
                    <div class="col col-sm-2 mail">
                        <img src="assets/img/mailme/mailme_logo.png">
                    </div>
                    <div class="col col-sm-10">
                        <p>
                            <span>Fique por dentro do Voe Legal</span>
                            <br>
                            Receba as atualizações, promoções e descontos.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col col-sm-4 form">
                <input type="text" placeholder="Seu email">
                <button type="submit">ENVIAR</button>
            </div>
        </div>
    </div>
</div>