<section class="features-cmp">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="../../../assets/img/features/features_icon_economy.png">
                <h2>ECONOMIA</h2>
                <p>Emitimos sua passagem com milhas aéreas, por isso temos um preço competitivo.</p>
            </div>
            <div class="col-sm">
                <img src="../../../assets/img/features/features_icon_easy.png">
                <h2>FACILIDADE</h2>
                <p>Descomplicamos sua vida na busca por passagens aéreas.</p>
            </div>
            <div class="col-sm">
                <img src="../../../assets/img/features/features_icon_fast.png">
                <h2>RAPIDEZ</h2>
                <p>Três passos para a melhor opção de voo: pesquise, selecione e compre!</p>
            </div>
        </div>

        <div class="row scd-rw">
            <div class="col-sm">
                <img src="../../../assets/img/features/features_icon_transparency.png">
                <h2>TRANSPARÊNCIA</h2>
                <p>Se o valor da passagem estiver mais barato na Cia., nós mostraremos para você</p>
            </div>
            <div class="col-sm">
                <img src="../../../assets/img/features/features_icon_safety.png">
                <h2>SEGURANÇA</h2>
                <p>Garantimos o sigilo dos seus dados pessoais e de pagamento.</p>
            </div>
            <div class="col-sm">
                <img src="../../../assets/img/features/features_icon_diferential.png">
                <h2>DIFERENCIAL</h2>
                <p>A prioridade é a qualidade do nosso atendimento!</p>
            </div>
        </div>
    </div>
</section>