.nav-cmp{
    font-size: 14px;
    font-weight: 300;
    background-color: transparent;
    color: #9B9B9B;
    
    a {
        color: #9B9B9B;
        margin-top: 5px;
    }

    button{
        margin-top: 5px;
        background-color: #232D46;
        color: white;
        border-radius: 3px;

    }
}