.singup-form-cmp {
    text-align: center;
    color: #232D46;
    font-weight: 300;
    padding-bottom: 3%;

    .container {
        padding-top: 2%;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }

    select{
        width: 40%;
        margin: auto;        
    }

    button{
        background-color: #232D46;
        color: white;
        border: none;
        width: 180px;
        height: 45px;
        font-size: 24px;
        margin-top: 13%;
        cursor: pointer;
    }
}