.news-cmp{
    background-color: #4A90E2;
    padding: 5%;
    text-align: center;
    color: white;
    font-weight: 200;
    h2{
        font-size: 30px;
    }
    p{
        font-size: 24px;
    }
    img{
        margin-bottom: 5%;
    }
    .scd-rw{
        margin-top: 5%;
    }
}