<section class="news-cmp">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="../../../assets/img/news/news_rectangle.png">
                <h2>Lorem Ipsum
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ipsum nunc, tempus ac condimentum.</p>
            </div>
            <div class="col-sm">
                <img src="../../../assets/img/news/news_rectangle.png">
                <h2>Lorem Ipsum
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ipsum nunc, tempus ac condimentum.</p>
            </div>
            <div class="col-sm">
                <img src="../../../assets/img/news/news_rectangle.png">
                <h2>Lorem Ipsum
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ipsum nunc, tempus ac condimentum.</p>
            </div>
        </div>

        <div class="row scd-rw">
            <div class="col-sm">
                <img src="../../../assets/img/news/news_rectangle.png">
                <h2>Lorem Ipsum
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ipsum nunc, tempus ac condimentum.</p>
            </div>
            <div class="col-sm">
                <img src="../../../assets/img/news/news_rectangle.png">
                <h2>Lorem Ipsum
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ipsum nunc, tempus ac condimentum.</p>
            </div>
            <div class="col-sm">
                <img src="../../../assets/img/news/news_rectangle.png">
                <h2>Lorem Ipsum
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ipsum nunc, tempus ac condimentum.</p>
            </div>
        </div>
    </div>
</section>